.navbar {
    height: 48px;
    &-inner {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }
    &-brand {
        background: #fff;
        border-bottom: 2px solid rgba(0, 0, 0, .2);
        height: 48px;
        width: 17%;
    }
    &-logo {
        display: block;
        height: 46px;
    }
    &-right {
        height: 48px;
        width: 83%;
        padding-right: 15px;
        text-align: right;
        background: #fff;
        border-bottom: 2px solid rgba(0, 0, 0, .1);
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    &-title {
        color: #fff;
    }
}
