.sort {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &-direction {
        .fa {
            color: $color_grey_light;
            font-size: 11px;
        }
    }
}
