h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
}

hr {
  background: none;
  border-top: 1px solid #eee;
  margin: 20px 0;
}

a {
  text-decoration: none;
  color: $color_text;
}

p {
    padding-bottom: 5px;
}

pre {
    color: $color_text;
    font-family: $font_family;
    font-size: inherit;
    background: transparent;
    border: none;
    padding: 0;
    margin: 0;
    vertical-align: top;
    display: block;
    white-space: pre-wrap;
    word-wrap: break-word;
}

h4 {
  font-size: 15px;
  font-weight: bold;
}

h3 {
  font-size: 18px;
  font-weight: bold;
}

h2 {
  font-size: 20px;
  font-weight: bold;
}

h1 {
  font-size: 22px;
  font-weight: bold;
}

