// color
$color_text: #484746;
$color_primary: #3aa3e3;
$color_secondary: #48606f;
$color_success: #66bb6a;
$color_danger: #E75650;
$color_grey_dark: #373737;
$color_grey_light: #838D94;
$color_gold: #F5F4F3;
$color_orange: #FF9800;
// background
$bg_default: #f8f8f8;
$bg_grey_light: #fcfcfc;
$bg_grey_dark: #F2F2F3;

// border
$border_default: rgba(63, 63, 68, .1);
$border_light: #eee;
$border_dark: #111;

// status
$status_grey: #777777;
$status_green: #64BD63;
$status_red:  #E75650;
$status_blue_dark: #3aa3e3;
$status_blue_light: #8EB4CB;
$status_orange: #FF9800;

// box shadow
$box_shadow: 0 1px 3px rgba(0, 0, 0, 0.08);

// font family
$font_family: Helvetica, Arial, sans-serif;
